<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>UsChatSecure</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}

                {% if category == "danger" %}
                    <p style="color: red;">{{ message }}</p>
                {% elif category == "success" %}
                    <p style="color: green;">{{ message }}</p>
                {% elif category == "warning" %}
                    <p style="color: orange;">{{ message }}</p>
                {% else %}
                    <p style="color: black;">{{ message }}</p>
                {% endif %}

            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>